{% extends "layout.tmpl" %}

{% block body %}
<h1>Welcome to ACM@CWRU's People Server</h1>

<p>This service will allow you to sign up for an account on the people server.
This will allot you a certain amount of space and give you a ~ home on the web!</p>

<p>You will need to have a valid CWRU account in order to complete this process.</p>

<a href='{{ cas_server }}'>Sign up here!</a>

{% endblock %}
