{% extends "layout.tmpl" %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="span6">
            <p class="lead">This service will allow you to sign up for an account
            on the ACM people server.  You will be alloted an amount of space in
            a home directory all your own!  If you need any help, join us in the
            <code>#cwru</code> room on <code>irc.case.edu</code>. In fact, join us
            there anyway!</p>
        </div>
        <div class="span5 alert alert-block">
            You will need to have a valid CWRU account in order to sign up for an account.
        </div>
        <div class="span5 alert alert-block">
            You must have a public key in order to sign up for an account. There are some awesome
            instructions for how to do this <a href="https://help.github.com/articles/generating-ssh-keys">on github</a>.
        </div>
        <div class="span12">
        {% if user %}
          <a class="btn btn-primary btn-block btn-large" href='/add_key'>Add a key!</a>
        {% else %}
          <a class="btn btn-primary btn-block btn-large" href='{{ signup_url }}'>Sign up here!</a>
        {% endif %}
        </div>
    </div>
</div>

{% endblock %}
