<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ACM@CWRU People Server</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="/static/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/static/bootstrap-responsive.min.css" type="text/css" />
    <link rel="stylesheet" href="/static/local.css" type="text/css" />
  </head>
  <body>
    <div>
      <div class="bighead">
          <div class="container">
              <h1 class="hidden-phone">{% block whatdo %} Get Started! {% endblock %}</h1>
              <h2><small>Welcome to the</small> ACM<span class="atfix">@</span>CWRU <small>People Server</small></h2>
              {% if 'username' in session %}
                <a class="bottom" href="{{ url_for('logout') }}">Logout</a>
              {% endif %}
          </div>
      </div>
    </div>
    {% block body %}{% endblock %}
  </body>
</html>
