<!DOCTYPE html>
<html>
  <head>
    <title>ACM@CWRU People Server</title>
    <link rel="stylesheet" src="/bootstrap.min.css"/>
    <link rel="stylesheet" src="/bootstrap-responsive.min.css"/>
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
