<form method="POST" action="/signup">
    {{ form.csrf_token }}
    {{ form.name.label }} {{ form.name(size=20) }}<br />
    {{ form.ssh_key.label }} {{ form.ssh_key }}<br />

    {{ form.accept_tos }}
    <label for='{{ form.accept_tos.id }}'>
        I understand that my use of this server is bound by the CWRU
        <a href='http://www.case.edu/its/policy/acceptable-use-policy.html'>acceptable use</a> and
        <a href='http://www.case.edu/provost/ugstudies/acintegrity.htm'>academic integrity</a> policies.
    </label>
    <br />
    <input type="submit" value="Go">
</form>
